spring-debug/src/main/resources/META-INF/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.mashibing.com/schema/person"
		xmlns:tns="http://www.mashibing.com/schema/person"
		elementFormDefault="qualified">
	<element name="chendd">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
			<attribute name="age" type="string"/>
		</complexType>
	</element>
</schema>